@media (min-width: 1920px) {
  .landing-page h1 {
    font-size: var(--texto-eg);
  }
  .localizacao {
    font-size: var(--texto-m);
  }
  .landing-page h4 {
    font-size: var(--texto-m);
  }
  .landing-page p {
    font-size: var(--texto-g);
  }

  .landing-page nav a {
    font-size: var(--texto-g);
  }
}

@media (max-width: 1000px) {
  .header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
  }

 
  .logo img {
    display: block;
    max-width: 80px;
  }

  .logo h1, .logo h1::before {
    display: none;
  }
 
  .header-content {
    width: 90vw;
    left: 0;
    right: 0;
    position: fixed;

  }

  .header-content li:not(:last-child) {
    display: none;
  }

  .burguer-menu {
    display: flex;
  }

  .landing-page {
    height: 100vh;
    overflow-x: hidden;
  }

  .landing-page h1 {
    font-size: var(--texto-gg);
  }
  .landing-page p {
    font-size: var(--texto-m);
  }
  .landing-page nav a {
    font-size: var(--texto-p);
  }

  .servicos ul li {
    font-size: var(--texto-m);
    text-indent: 0px;
    margin-left: 20px;
  }
  
  .servicos li::before {
    margin-right: 20px;
  }

  .quemsomos-conteudo {
    display: flex;
    margin-left: 10px;
    gap: 20px;
   
  }
  .quemsomos {
    padding-top: 0;
  }

  .quemsomos-items {
    max-width: 400px;

  }
  .quemsomos h1 {
    font-size: var(--texto-m);
  }

  .quemsomos h1::after {
    width: 100px;
  }

  .quemsomos p {
    font-size: var(--texto-p);
  }

  .mini-galeria img:nth-child(2) {
    display: none;
    
  }

  .mini-galeria img {
    max-width: 300px;
    height: auto;
  }
  .mini-galeria {
    display: flex;
    flex-direction: column;

  }

  .membro h1 {
    font-size: var(--texto-g);
  }

  .membro p {
    font-size: var(--texto-m);
    font-weight: 300;
  }
  .membro img {
    max-width: 200px;
  }

  .contato h1 {
    font-size: var(--texto-g);

  }

  .card li {
    font-size: var(--texto-p);
  }
}

@media (max-width: 640px) {

.header {
 left: 0;
 right: 0;
 top: 20px;
}

.header-content {
  width: 90vw;
}
.logo img {
  max-width: 60px;
}

.burguer-menu {
  width: 35px;
  height: 20px;
}

.bar {
  height: 2px;
}

.landing-page {
  height: 90vh;
  padding-top: 80px;
}
.landing-page h1 {
  font-size: var(--texto-g);
  margin: 0 auto;
}
.landing-page p {
  font-size: var(--texto-p);
}
.landing-page p::after {
  margin-top: 20px;
}

.landing-page nav {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 20px;
}
.landing-page nav a {
  font-size: var(--texto-p);
}

.localizacao {
  font-size: var(--texto-p);
}
.landing-page h4 {
  font-size: var(--texto-p);
}
.servicos ul li {
  font-size: var(--texto-p);
}
.servicos ul li::before {
  width: 14px;
  height: 14px;
}

.quemsomos h1 {
  font-size: var(--texto-p);
}
.quemsomos h1::after {
  width: 50px;
}
.quemsomos p {
  font-size: var(--texto-pp);
}


.mini-galeria img {
  max-width: 250px;
  max-width: 300px;
}
.membro h1 {
font-size: var(--texto-m);
}
.membro p {
font-size: var(--texto-p);
}
.membro img {
  max-width: 150px;
}
.contato h1 {
  font-size: var(--texto-g);
}

}

@media (max-width: 480px) {

  .landing-page h1 {
    font-size: var(--texto-g);
    word-wrap: break-word;
  }

  .landing-page p {
    font-size: var(--texto-p);
  }


.localizacao {
  word-wrap: break-word;
  margin-left: 20px;
}
  
  .localizacao::before {
    width: 20px;
    height: 20px;
  }

  .servicos ul li {
    font-size: var(--texto-pp);
  }
  .servicos ul li::before {
    width: 10px;
    height: 10px;
  }

  .quemsomos-conteudo {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }

  .quemsomos-items {
    max-width: 230px;
  }

  .mini-galeria {
  display: flex;
  max-width: 100%;
  }

  .mini-galeria img:nth-child(2) {
    display: block;
  }
 
  .mini-galeria img {
    width: 100%;
    height: 50%;;
  }


  .contato h1 {
    font-size: var(--texto-m);
  
  }

  .membro img {
    max-width: 100px;
  }

  .card li {
    margin: 10px 0px;
    padding: 10px;
  }

}